@model PlanMyTripApp.Models.Flight

@{
    ViewBag.Title = "ShowFlightDetails";
}

<h2>ShowFlightDetails</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlightName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatsCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatsCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfSeatsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfSeatsAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlightNumber }) |
    @Html.ActionLink("Back to List", "ShowAllFlights")
</p>
